<p><%= comment.rating %></p>
<p><%= comment.body %></p>
<p>Comment by: <%= comment.user.email %></p>

<% if current_user %>
  <div id="update-<%= comment.id %>">
  	<p><%= link_to "Edit comment", comment_path, method: :patch, remote: true %></p>
  </div>
  <div id="delete-<%= comment.id %>">
      <p><%= link_to "Delete Comment", comment_path, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></p>
  </div>
<% end %>
