<div id="action-<%= comment.id %>">
<div class="comment-rating" data-score="<%= comment.rating %>">
  <p><%#= comment.rating %></p>
  <p><%= comment.comment_star %></p>
  <p><%= '★' * comment.rating.to_i + '☆' * (5 - comment.rating.to_i) %></p>
</div>
<p><%= comment.body %></p>
<p>Comment by: <%= comment.user.email %></p>
<p>Created at: <%= comment.created_at.strftime("%I:%M %p") %></p>

<% if current_user %>
    <p><%= link_to "Edit comment", edit_comment_path(comment, product_id: @product), method: :get, remote: true %></p>
    <p><%= link_to "Delete Comment", comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></p>
<% end %>
<hr>
</div>
