<%= form_with(url: comments_path, data: {remote: true}) do |form| %>
  <%# binding.pry %>
  <%= form.hidden_field :product_id, value: @product.id %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= form.text_area :body, class: "form-control comment-text-area" %>
  </div>
  <br>
  <div id="rating-form">
    <label>Rate product, please(from 0 to 5): </label>
    <%= form.number_field :rating, class: "" %>
  </div>

  <div class="actions">
    <%= form.submit "Comment", class: 'submit_form btn btn-outline-info' %>
  </div>
<% end %>
