<%= form_with model: @comment do |form| %>
  <%= form.hidden_field :product_id, value: @product.id, class: "form-control" %>

  <div class="field">
    <%= form.text_area :body, class: "form-control comment-text-area" %>
  </div>

  <div class="form_field">
    <%= form.hidden_field :rating, class: "form-control rating-field" %>
  </div>

  <div class="actions">
    <%= form.submit "Comment", class: 'submit_form btn btn-outline-info' %>
  </div>
<% end %>