<h2>Edit comment</h2>
<%= form_with(url: comment_path, data: {remote: true}) do |form| %>
  <%= form.hidden_field :product_id, value: @product.id %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= form.text_area :body, class: "form-control comment-text-area" %>
  </div>

  <div class="form_field">
    <%= form.hidden_field :rating, class: "form-control rating-field" %>
  </div>

  <div class="actions">
    <%= form.submit "Comment", class: 'submit_form btn btn-outline-info' %>
  </div>
<% end %>