<p>
  <div class="text-center">
    <h3><%= @product.title %></h3>
  </div>
</p>

<p>
  <div class="text-center">
    <h3><%= @product.image.representation(resize_to_limit: [100, 100]) %></h3>
  </div>
</p>

<p>
  <div class="text-center">
    <p><%= @product.description %></p>
  </div>
</p>

<p>
  <div class="text-center">
    <p>Price: <%= number_to_currency(@product.price, unit: "UAH", separator: ",", delimiter: " ", format: "%n %u") %></p>
  </div>
</p>

<p>Rating: </p>
  <div class="average-comment-rating" data-score="<%= @average_rating %>">
    <%= @product.product_star %>
  </div>
<br>
  <% if current_user %>
    <p><%= link_to 'Add to cart', product_order_items_path(@product), method: :post, class: 'btn btn-success' %></p>
  <% end %>

  <hr>
  <div id="create">
    <strong>New comment</strong>
    <%= render 'comments/form', locals: { product: @product }, remote: true %>
  </div>
  <br>
  <h3>Comments:</h3>
  <div id="create">
      <%= render @product.comments, locals: { comment: @comment }, remote: true %>
  </div>
