<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if current_user %>
      Logged in as <%= current_user.email %>.
    <% end %>
    <%= render 'shared/navbar' %>
    <div class="row">
      <div class="col-3">
        <%= render 'shared/sidebar' %>
      </div>

      <div class="col-9">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
